<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--&lt;!&ndash; 新 Bootstrap 核心 CSS 文件 &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; 可选的Bootstrap主题文件（一般不用引入） &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

    <!--&lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;-->
    <!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->

    <!--&lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;-->
    <!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
    <!--<div class="container">-->
        <!--<div class="jumbotron">-->
            <!--<h1>android资料汇集</h1>-->
            <!--<p>特维轮无线团队android资料集散地</p>-->
        <!--</div>-->

        <!--<h2>技术资料</h2>-->
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://www.csdn.net/article/2015-08-12/2825447-android-performance-patterns-season-3/3">android性能优化典范（三）</a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://www.jianshu.com/p/c8c6dbe00787">最美应用－从Android研发工程师的角度之[厨房故事]</a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://www.devtf.cn/?p=981">Android 中的 AOP 编程</a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="https://software.intel.com/zh-cn/articles/getting-started-with-intel-inde-opencv-for-android-targets?utm_source=Manong&utm_medium=Newsletter&utm_campaign=Android_PRC_Q315_Manong">面向安卓* 目标的英特尔® INDE OpenCV入门</a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://www.flysnow.org/2015/08/06/android-tech-docs-tools-attributes.html">Android技术文档翻译&#45;&#45;工具属性(Tools Attributes) </a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://itangqi.me/android/google-places-for-android-guide/">Google Places for Android 入门指南</a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://www.oschina.net/translate/42-mobile-landing-page-optimization-tips">42 个移动端启动页面优化 Tips </a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://droidyue.com/blog/2015/08/16/dive-into-android-activity-launchmode/">深入讲解Android中Activity launchMode</a></li>-->
            <!--<li class="list-group-item list-group-item-success"><a href="http://www.jcodecraeer.com/a/anzhuokaifa/androidkaifa/2015/0816/3311.html">安卓中的Flux架构</a></li>-->
        <!--</ul>-->

        <!--<h2>twl文档资料</h2>-->
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item list-group-item-info"><a href="./doc/jenkins配置.html">jenkins配置</a></li>-->
            <!--<li class="list-group-item list-group-item-info"><a href="./doc/code-review中发现的问题.html">code-review中发现的问题</a></li>-->
            <!--<li class="list-group-item list-group-item-info"><a href="./doc/qichechaoren-代码review.html">qichechaoren-代码review</a></li>-->
            <!--<li class="list-group-item list-group-item-info"><a href="./doc/特维轮无线团队Android Studio配置.html">特维轮无线团队Android Studio配置</a></li>-->
            <!--<li class="list-group-item list-group-item-info"><a href="./doc/特维轮无线团队Android开发使用工具汇总.html">特维轮无线团队Android开发使用工具汇总</a></li>-->
            <!--<li class="list-group-item list-group-item-info"><a href="./doc/特维轮无线团队代码规范(Android)&#45;&#45;初稿.html">特维轮无线团队代码规范(Android)&#45;&#45;初稿</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>android资料汇集</h1>
        <p>特维轮无线团队android资料集散地</p>
    </div>

    <h2>技术资料</h2>

        <% if (papers.length) { %>
            <ul class="list-group">
                <% papers.forEach(function(paper){ %>
                    <li class="list-group-item list-group-item-success">
                        <a href='<%= paper.link %>'><%= paper.title %></a>
                    </li>
                <% }) %>
            </ul>
        <% } %>

    <button type="button" class="btn btn-primary" onclick="btn_page_first()">首页</button>
    <button type="button" class="btn btn-primary" onclick="btn_page_prev()">上一页</button>
    <button type="button" class="btn btn-primary" onclick="btn_page_next()">下一页</button>
    <button type="button" class="btn btn-primary" onclick="btn_page_last()">尾页</button>

    <h2>twl文档资料</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"><a href="./doc/jenkins配置.html">jenkins配置</a></li>
        <li class="list-group-item list-group-item-info"><a href="./doc/code-review中发现的问题.html">code-review中发现的问题</a></li>
        <li class="list-group-item list-group-item-info"><a href="./doc/qichechaoren-代码review.html">qichechaoren-代码review</a></li>
        <li class="list-group-item list-group-item-info"><a href="./doc/特维轮无线团队Android Studio配置.html">特维轮无线团队Android Studio配置</a></li>
        <li class="list-group-item list-group-item-info"><a href="./doc/特维轮无线团队Android开发使用工具汇总.html">特维轮无线团队Android开发使用工具汇总</a></li>
        <li class="list-group-item list-group-item-info"><a href="./doc/特维轮无线团队代码规范(Android)--初稿.html">特维轮无线团队代码规范(Android)--初稿</a></li>
    </ul>
</div>

    <script type="text/javascript">
        var count = 1;
        var last = 200;

        function btn_page_first() {
            count = 1;
            var params = {
                tag: "android",
                page: count
            };
            btn_ajax(params)
        }

        function btn_page_prev() {
            if (count == 1) {
                alert("first page");
            } else {
                count -= 1;
                var params = {
                    tag: "android",
                    page: count
                };
                btn_ajax(params)
            }
        }

        function btn_page_next() {
            if (count == 200) {
                alert("last page");
            } else {
                count += 1;
                var params = {
                    tag: "android",
                    page: count
                };
                btn_ajax(params)
            }
        }

        function btn_page_last() {
            count = 200;
            var params = {
                tag: "android",
                page: count
            };
            btn_ajax(params)
        }

        function btn_ajax(req) {
            $.ajax({
                type: "POST",
                url: "http://192.168.2.91:3000/",
                data: req,
                dataType: "json",
                success: function(data) {
                    var result = jQuery.parseJSON(data)
                    alert(result);
                    if (data.status == 200) {
                        alert("success");
                    } else {
                        alert("failed");
                    }
                },
                error: function(jqXHR , textStatus , errorThrown) {
                    alert("error:" + errorThrown.responseJson);
                },
            });
        }
    </script>
</body>
</html>

